.example-container {
  width: 500px;
}

.player-form {
  width: 70%;
  margin: 0 auto
}

.style-md-car{
    min-width:250px; 
    max-width:800px; 
    margin: 0 auto
}

.example-full-width {
  width: 90%;
    padding-left: 2em;
  padding-right: 2em;
}
