<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1">
  <div class="lead">
    NTDB Web Functionalities(
    <s>fisnish</s>)
  </div>
  <ol>
    <li>
      Autentication
    </li>
    <li>
      List Players
    </li>
    <li>
      Manual Update player
    </li>
    <li>
      Online Update Player
    </li>
    <li>
      List NT or U21 or All Players
    </li>

    <li>
      Deploy && Test
    </li>
  </ol>

  <h4>TODO: Implementation</h4>
  <ul>
    <li>
      Display message afther any action. test material 2 notifications
    </li>
    <li>
      Implement a pipe to transform number to text
    </li>
    <li>
      Add validator to player form
    </li>
    <li>
      Add validator to staff form
    </li>
  </ul>
</div>