<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-1">
      <h4 class=""><a href="#">{{player.name}}</a></h4>
      <div class="">
        <div class="">
          value: {{ player.value }}, wage: {{ player.wage }} <br>
          <strong> {{ player.form }} </strong> <span class="text-muted">[{{ player.form }}]</span> form <br> height: {{ player.height
          }} cm, weight: {{ player.weight }} kg,<br>
          <span>BMI: {{ player.BMI }} </span> <br> {{ player.experience }} experience -- {{ player.workTeam }} team-work
          <br><br>
        </div>

        <div class="">
          <table class="table-condensed small">
            <tbody>
              <tr>
                <td style="width: 50%;"><strong class=""> {{player.stamina}} </strong><span class="text-muted">[{{player.stamina}}]</span> stamina</td>
                <td style="width: 50%;"><strong class="">{{player.keeper}} </strong><span class="text-muted">[{{player.keeper}}]</span> keeper</td>
              </tr>
              <tr>
                <td><strong class="">{{player.pace}} </strong><span class="text-muted">[{{player.pace}}]</span> pace</td>
                <td><strong class="">{{player.defender}} </strong><span class="text-muted">[{{player.defender}}]</span> defender</td>
              </tr>
              <tr>
                <td><strong class="">{{player.technique}} </strong><span class="text-muted">[{{player.technique}}]</span> technique</td>
                <td><strong class="">{{player.playmaker}} </strong><span class="text-muted">[{{player.playmaker}}]</span> playmaker</td>
              </tr>
              <tr>
                <td><strong class="">{{player.passing}} </strong><span class="text-muted">[{{player.passing}}]</span> passing</td>
                <td><strong class="">{{player.striker}} </strong><span class="text-muted">[{{player.striker}}]</span> striker</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>